:root {
/*------ Color variables --*/
    --black_900: #000000;
    --blue_400: #379ae6;
    --blue_800: #255abb;
    --blue_gray_500: #6f7787;
    --blue_gray_700: #34795b;
    --blue_gray_700_01: #3e505b;
    --blue_gray_800: #424856;
    --blue_gray_900: #26413C;
    --blue_gray_900_01: #194730;
    --blue_gray_900_02: #323743;
    --deep_purple_a700: #2100ff;
    --gray_100: #f3f4f6;
    --gray_100_01: #f7f8f7;
    --gray_100_02: #f4fbf7;
    --gray_100_03: #f4faf8;
    --gray_300: #dee1e6;
    --gray_400: #bdc1ca;
    --gray_50: #fafafb;
    --gray_500: #9095a1;
    --gray_700: #565d6d;
    --gray_900: #1a1d1a;
    --gray_900_01: #171a1f;
    --gray_900_1e: #120f281e;
    --gray_900_26: #171a1f26;
    --gray_900_30: #171a1f30;
    --green_100: #c9ecdb;
    --green_300: #70c29e;
    --green_400: #48bf84;
    --green_400_3a: #48bf843a;
    --green_600: #369b68;
    --red_800: #c12126;
    --white_a700: #ffffff;
    --yellow_50: #fdfaee;


    /*--Shadow variables--*/
    --shadow-xs: 0 3px 6px 0 #120f281e;
    --shadow-sm: 0 0 1px 0 #171a1f26;
    --shadow-md: 0 8px 17px 0 #48bf843a;
    --shadow-1g: 0 4px 9px 0 #171a1f30;

    /*---Border radius variables---*/
    --radius-xs: 3px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-1g: 8px;
    --radius-xl: 14px;
    --radius-2x1: 22px;
    --radius-3x1: 86px;
    --radius-4x1: 196px;

    /*------Spacing variables------*/
    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 6px;
    --space-lg: 8px;
    --space-xl: 10px;
    --space-2xl: 11px;
    --space-3x1: 12px;
    --space-4x1: 15px;
    --space-5x1: 16px;
    --space-6x1: 18px;
    --space-7xl: 22px;
    --space-8xl: 24px;
    --space-9xl: 26px;
    --space-10xl: 28px;
    --space-11xl: 30px;
    --space-12xl: 32px;
    --space-13xl: 34px;
    --space-14xl: 38px;
    --space-15xl: 40px;
    --space-16xl: 48px;
}

/*2. Utility CSS*/

.flex-col-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*3. Common CSS*/

.containerbarra-2 {
    display: flex;
    background-color: var(--white_a700);
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.iniciarsesion {
    background-color: var(--green_400);
    box-shadow: var(--shadow-xs);
    width: 100%;
}
    
.rowemail {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.registrargastos {
    gap: var(--space-12x1);
    background-color: var(--gray_50);
    box-shadow: var(--shadow-xs);
    display: flex;
    width: 100%;
    flex-direction: column;
}
    
.containerbarra-3 {
    display: flex;
    background-color: var(--white_a700);
    justify-content: center;
    align-items: center;
}

.rowheaderlogo-1 {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}
    
.rowheaderlogo {
    gap: var(--space-x1);
    display: flex;
    align-items: center;
}
    
.headerlogo_one-1 {
    height: 46px;
    width: 182px;
    object-fit: contain;
}

.imagelogo_one {
    height: 64px;
    width: 64px;
}

.row-1 {
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        width: 100%;
    }
}

.headermenu {
    width: 74%;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
    flex-direction: column;
    }
}

.observareconom {
    color: var(--green_400) !important;
    align-self: start;
}

.rowpackage_one {
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    gap: var(--space-1g);
    display: flex;
    align-items: center;
    padding: var(--space-8x1) var(--space-5x1);
    @media only screen and (max-width: 550px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.crearregistros {
    color: var(--gray_700) !important;
    align-self: end;
}    

    .rowlayouteleven {
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    gap: var(--space-lg);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: var(--space-8x1) var(--space-5x1);
    @media only screen and (max-width: 550px) {
        align-self: stretch;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.recomendaciones {
    color: var(--gray_700) !important;
    align-self: start;
}

.image-7 {
    height: 44px;
    width: 44px;
    object-fit: cover;
    border-radius: var(--radius-2x1);
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.crea_una_ahora {
    color: var(--green_400) !important;
    text-decoration: underline;
}

.column_one {
    margin-bottom: 4px;
    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }
}

.row_one-1 {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1050px) {
        padding: 20px;
    }
}

.dashboard {
    font-family: Cabin !important;
    text-transform: uppercase;
}
    
.container-12 {
    gap: var(--space-3xl);
    background-color: var(--gray_100_02);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: var(--space-8x1);
    border-radius: var(--radius-lg);
    @media only screen and (max-width: 550px) {
        width: 100%;
        padding: 20px;
    }
}

.pricetext {
    color: var(--green_400) !important;
    font-family: Cabin !important;
}

.container-13 {
    gap: var(--space-3x1);
    background-color: var(--yellow_50);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: var(--space-8x1);
    border-radius: var(--radius-1g);
    @media only screen and (max-width: 550px) {
        width: 100%;
        padding: 20px;
    }
}
    
.subheading {
    color: var(--blue_gray_900) !important;
    font-family: Cabin !important;
}

.finanzapp {
    color: var(--blue_gray_900_02) !important;
    font-family: Cabin !important;
}

.remainingtext {
    color: var(--blue_gray_900_02) !important;
}

.email-3 {
    align-self: stretch;
    @media only screen and (max-width: 550px) {
        padding-right: 20px;
    }
}

.columndinero {
    padding-left: 56px;
    padding-right: 56px;
    gap: var(--space-3x1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
    
.logotwitter_one {
    height: 24px;
    width: 24px;
}

.columntitle {
    gap: var(--space-xs);
    border-top-width: 0.5px;
    background-color: var(--white_a700);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: var(--space-6x1) var(--space-5xl);
    border-bottom: 0.5px solid var(--gray_300);
    @media only screen and (max-width: 550px) {
        align-self: stretch;
    }
}
    
.summary {
    color: var(--gray_700) !important;
    line-height: 20px;
}

.rowresumen {
    flex: 1;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.resumen_mensual {
    color: var(--blue_gray_900_02) !important;
    margin-left: 6px;
    font-family: Cabin !important;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.nombre_one {
    color: var(--gray_700) !important;
    font-family: Cabin !important;
    font-weight: 600 !important;
    background-color: var(--gray_50);
    border: 0.5px solid var(--gray_300);
}

.frame {
    border: 0.5px solid var(--gray_300);
}

.containervista {
    gap: var(--space-6x1);
    background-color: var(--white_a700);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--space-10x1) var(--space-11xl);
    border-radius: var(--radius-1g);
    border: 1px solid var(--gray_300);
    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}

.hazte_premium {
    font-family: Cabin !important;
}

.pie_one {
    height: 290px;
    background-color: var(--green_400);
    flex: 1;
    transform: rotate(187deg);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: Øpx;
    top: Øpx;
    display: flex;
    border-radius: 50%;
    background: conic-gradient(#3e98c7 var(--progress), #48bf84 0deg);
    margin: auto;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        margin: 17px;
        border-radius: 50%;
        background-color: var(--white_a700);
    }
}
    
.columnview_five {
    gap: var(--space-10x1);
    display: flex;
    flex-direction: column;
}

.view_eight {
    height: 16px;
    background-color: var( -- green_400);
    width: 16px;
    border-radius: var( -- radius-lg);
}

.row_seven-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowview_eight {
    gap: var(--space-3x1);
    flex: 1;
    display: flex;
    align-items: center;
}

.view_nine {
    height: 16px;
    background-color: var(--blue_gray_900);
    width: 16px;
    border-radius: var(--radius-1g);
}

.dinerorestante {
    font-weight: 500 !important;
}

.column-1 {
    margin-bottom: 18px;
    align-self: stretch;
}

.rowdinero_one {
    align-self: stretch;
}

.row_seven {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row_eight {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}