/* Tabla de contenido 
1. Radio CSS
2. Checkboxs CSS
3. Input CSS
4. Button CSS
5. Selectbox CSS
6. Text CSS
7. Heading CSS
8. Container CSS
*/

/*
1. Radio CSS
*/
.ui.radio.size-xs {
    height: 8px;
    width: 8px;
    border-radius: var(--radius-sm);
}
  
.ui.radio.size-sm {
    height: 16px;
    width: 16px;
}
  
.ui.radio.primary {
    accent-color: #369b68;
    border: 1px solid var(--gray_700);
}
  
.ui.radio {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/*
2. Checkbox CSS
*/
.ui.checkbox.square {
    border-radius: 0px;
}
  
.ui.checkbox.size-xs {
    height: 22px;
    font-size: 14px;
    width: 22px;
}
  
.ui.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/*
3. Input CSS
*/
.ui.input.round {
    border-radius: var(--radius-sm);
  }
  
.ui.input.size-xl {
    height: 144px;
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    font-size: 14px;
}
  
.ui.input.size-sm {
    height: 34px;
    padding-right: var(--space-xl);
}
  
.ui.input.size-lg {
    height: 70px;
    padding-left: var(--space-3x1);
    padding-right: var(--space-11x1);
    font-size: 24px;
}

.ui.input.size-md {
    height: 42px;
    padding-left: var(--space-4x1);
    padding-right: var(--space-11x1);
    font-size: 16px;
}
  
.ui.input.size-xs {
    height: 34px;
    padding-left: var(--space-3x1);
    padding-right: var(--space-11x1);
    font-size: 14px;
}
  
.ui.input.fill.white_a700 {
    background-color: var(--white_a700);
    color: var(--gray_400);
}
  
.ui.input.fill.gray_100 {
    background-color: var(--gray_100);
    color: var(--gray_400);
}

.ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
}

/*
4. Button CSS
*/

.ui.button{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.ui.button.fill {
    color: #fff;
}

.ui.button.fill:hover {
    background-color: #2F865AFF;
}

.ui.button.outline {
    background-color: transparent;
    color: #007bff;
    border-color: #007bff;
}


.ui.button.outline:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.ui.button.square {
    border-radius: 0px;
}

.ui.button.round {
    border-radius: var(--radius-1g);
}

.ui.button.size-xl {
    height: 102px;
    padding-left: var(--space-6x1);
    padding-right: var(--space-11x1);
    font-size: 12px;
}

.ui.button.size-lg {
    height: 52px;
    padding-left: var(--space-11x1);
    padding-right: var(--space-11x1);
    font-size: 18px;
}

.ui.button.size-md {
    height: 44px;
    padding-left: var(--space-11x1);
    padding-right: var(--space-11x1);
    font-size: 16px;
}

.ui.button.size-xs {
    height: 28px;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    font-size: 12px;
}

.ui.button.size-sm {
    height: 34px;
    padding-left: var(--space-3x1);
    padding-right: var(--space-3x1);
    font-size: 16px;
}

.ui.button.fill.green_300 {
    background-color: var(--green_300);
    color: var(--white_a700);
}

.ui.button.fill.white_a700 {
    background-color: var(--white_a700);
    color: var(--blue_400);
}

.ui.button.fill.gray_100_02 {
    background-color: var(--gray_100_02);
    color: var(--green_400);
}

.ui.button.outline.green_400 {
    color: var(--green_400);
    border: 1px solid var(--green_400);
}

.ui.button.fill-green_400 {
    background-color: var(--green_400);
    box-shadow: var(--shadow-md);
    color: var(--white_a700);
}

.ui.button.outline.blue_400 {
    color: var(--blue_400);
    border: 1px solid var(--blue_400);
}


/* 
5. Selectbox CSS 
*/   
.ui.selectbox.round {
    border-radius: var(--radius-sm);
}
  
.ui.selectbox.size-xs {
    height: 34px;
    padding-left: var(--space-3x1);
    padding-right: var(--space-11x1);
    font-size: 14px;
}
  
.ui.selectbox.fill.white_a700 {
    background-color: var(--white_a700);
    color: var(--gray_900_01);
  }
  
  .ui.selectbox {
    display: flex;
  }
  
/* 
6. Text CSS 
*/  
.ui.text.size-textxs {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
  
.ui.text.size-texts {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
  
.ui.text.size-textmd {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-textlg {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
  
.ui.text.size-textxl {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.ui.text.size-text2xl {
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    @media only screen and (max-width: 1050px) {
        font-size: 30px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 28px;
    }
}

.ui.text {
    color: var(--gray_900_01);
    font-family: Inter;
}
  
/*
7. Heading CSS 
*/
.ui.heading-size-headingxs {
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
}
  
.ui.heading-size-headings {
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
}

.ui.heading-size-headingmd {
    font-size: 18px;
    font-weight: 200;
    font-style: bold;
}

.ui.heading-size-headinglg {
    font-size: 20px;
    font-weight: 600;
    font-style: bold;
}
  
.ui.heading-size-headingxl {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 22px;
    }
}
  
.ui.heading-size-heading2xl {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 30px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 28px;
    }
}

.ui.heading-size-heading3xl {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 38px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 36px;
    }
}
  
.ui.heading-size-heading4xl {
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 44px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 38px;
    }
}

.ui.heading-size-heading5x1 {
    font-size: 56px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 48px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 42px;
    }
}
  
.ui.heading {
    color: var(--gray_900_01);
    font-family: Cabin;
}
  
/* 
8. Container CSS 
*/
.container-xs {
    max-width: 1308px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
  
  
  
  
  
  
  
