/* Tabla de contenido
 1. Common CSS
 2. Page CSS
 */

/*
 1. Common CSS
 */

body{
    overflow: hidden;
    background: #48BF84FF;
}


.email {
    color: var(--blue_gray_800) !important;
}

.email-2 {
    color: var(--blue_gray_800) !important;
    margin-left: 25px; 
}

.error {
    color: #E23737 !important;
}

.hide {
    gap: var(--space-11x1);
    align-self: stretch;
}

.hide-1 {
    width: 16px;
    height: 16px;
}

/*
 2. Page CSS
 */
.containercrear {
    top: 181px; 
    left: 72px; 
    width: 644px; 
    height: 650px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
    margin-left: 250px;
    position: absolute; 
    margin-top: -120px;
}

.column-5 {
    margin-top: 16px;
    gap: var(--space-13x1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.crear_cuenta-1 {
    top: 70px; 
    left: 256px; 
    font-family: Cabin; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
    font-weight: 700; 
    color: #565D6DFF;
}


.rownombre-2 {
    gap: 20px;
    display: flex;
    align-self: stretch;
    margin-top: 50px;
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.columnnombre-2 {
    gap: var(--space-xs);
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    @media only screen and (max-width: 550px) {
        width: 100%;
    }
}

.email-5{
        width: 590px; 
        height: 36px; 
        padding-left: 12px; 
        padding-right: 12px; 
        font-family: Inter; 
        font-size: 14px; 
        line-height: 22px; 
        font-weight: 400; 
        background: #F3F4F6FF; /* neutral-200 */
        border-radius: 4px; /* border-m */
        border-width: 0px; 
        outline: none; 
}

.email-3{
    width: 231px; 
    height: 36px; 
    padding-left: 12px; 
    padding-right: 12px; 
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 4px; /* border-m */
    border-width: 0px; 
    outline: none; 
}   
.email-4{
    width: 300px; 
    height: 36px; 
    padding-left: 20px; 
    padding-right: 12px; 
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 4px; /* border-m */
    border-width: 0px; 
    outline: none; 
    margin-left: 35px;
}

.columnapellido {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    @media only screen and (max-width: 550px) {
        align-self: stretch;
    }
}

.columnemail-1 {
    margin-top: 30px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
}

.columncontrasea {
    margin-top: 18px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
}

.columconfirmar {
    margin-top: 10px;
    gap: var(--space-xs);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: start;
}

.aceptotrminosd {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
}

.acep {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.aceptotrminosd div {
    font-size: 14px;
    color: #333;
    line-height: 16px; /* Match this to the height of the checkbox */
}


.crear_cuenta-2 {
    cursor: pointer;
    width: 588px; 
    height: 44px; 
    padding: 25 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Inter; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #48BF84FF; /* primary-500 */
    margin-top: 25px;
    border-radius: 4px
}

.crear_cuenta-2:hover{
    color: #FFFFFFFF; /* white */
    background: #2F865AFF;
}

.rowyatienesunac {
    margin-top: 20px;
    gap: var(--space-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagefondo_one-1 {
    top: 0px; 
    left: 628px; 
    width: 850px; 
    height: 900px; 
    border-radius: 0px; 
    margin-left: 850px;
}