/* Tabla de contenido
 1. Common CSS
 2. Page CSS
 */

/*
 1. Common CSS
 */
.email-1 {
    width: 374px; 
    height: 44px; 
    padding-left: 44px; 
    padding-right: 16px; 
    font-family: Inter; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 8px; /* border-xl */
    border-width: 0px; 
    outline: none;
}

.password-1 {
    width: 374px; 
    height: 44px; 
    padding-left: 44px; 
    padding-right: 16px; 
    font-family: Inter; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    background: #F3F4F6FF; /* neutral-200 */
    border-radius: 8px; /* border-xl */
    border-width: 0px; 
    outline: none;
}

.lock {
    width: 20px;
    height: 20px;
}

/*
 2. Common CSS
 */ 
.container-7 {
    top: 181px; 
    left: 72px; 
    width: 614px; 
    height: 538px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
    margin-left: auto;
}

.finanzapp-1 {
    top: 70px; 
    left: 256px; 
    font-family: Cabin; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
}

.rowheader_logo {
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
}

.columnemail {
    margin-bottom: 6px;
    gap: var(--space-9x1);
    display: flex;
    width: 76%;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        margin-top: 20px;
    }
}

.olvidsucontras {
    color: var (--green_400) !important;
    margin-left: 6px;
    align-self: start;
    text-decoration: underline;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.iniciar_sesin-1 {
    margin-left: 6px;
    width: 100%;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
    @media only screen and (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.rowtodavanotie {
    margin-left: 38px;
    margin-right: 24px;
    gap: var (--space-md);
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.imagefondo_one {
    top: 0px; 
    left: 628px; 
    width: 815px; 
    height: 900px; 
    border-radius: 0px; 
    margin-left: auto;
}

.imagelogo_one{
    margin-right: 10px;
}


