body{
    background: #FAFAFBFF;
}

.observargastos {
    background-color: var(--gray_50);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    padding: var(--space-12x1);
    width: 100%;
}

/* Header */

.observareconom{
    position: absolute;
    display: flex;
    font-weight: bold;
    margin-left: -30px;
    margin-top: 3px;
}

.logotwitter_one1{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-left: -60px;
}

.crearregistros{
    position: absolute;
    display: flex;
    margin-left: 30px;
    margin: -20px;
    margin-left: 25px;
}

.recomendaciones{
    display: flex;
    margin-left: 40px;
    margin-top: 3px;
}

.logotwitter_one{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-top: 0px;
    margin-left: -10px;
}

.logotwitter_one2{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-top: 0px;
    margin-left: 5px;
}

.containerbarra-2 {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: var(--space-md);
    z-index: 1000;
}

.row_one-2 {
    display: flex;
    align-items: center;
}

.rowheaderlogo-1 {
    position: relative;
    align-items: center;
    gap: var(--space-md);
}

.headerlogo_one-1 {
    top: 18px; 
    left: 129px; 
    font-family: Cabin; /* Heading */
    font-size: 30px; 
    line-height: 36px; 
    font-weight: 700; 
    color: #565D6DFF;
    margin-top: 10px;
    margin-right: 998px;
}

.imagelogo_one{
    top: 13px; 
    left: 72px; 
    width: 46px; 
    height: 46px; 
    border-radius: 0px;
}



.row-2 {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
    margin-left: -650px;
    margin-top: -5px;
}

.headermenu {
    gap: 150px;
}

.menuitem {
    display: flex; 
    font-size: 14px; 
    gap: 10px;
}


.image-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 200px;
}

.user-profile {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.logout-button {
    background-color: #FFFFFFFF; /* Red color */
    color: #000000FF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    width: 180px;
    gap: 8px;
}

.logout-button:hover{
    color: #28714CFF; /* primary-700 */
    background: #C9ECDBFF;
}

.user-profile:hover .dropdown-menu {
    display: block;
}

/* Dashboard */

.column_three {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    width: 100%;
    max-width: 1200px;
}

.columndashboard {
    width: 100%;
}

.dashboard {
    top: 104px; 
    left: 72px; 
    font-family: Cabin; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
    font-weight: 700; 
    color: #171A1FFF;
    margin-top: 25px;
}

.stackresumen {
    top: 184px; 
    left: 72px; 
    width: 1296px; 
    height: 250px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
    display: flex;
    margin-top: 30px;
}

.rowresumen {
    position: absolute;
    width: 760px; 
    height: 500px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
}

.rowresumen-1 {
    display: flex;
    justify-content:end;
    margin-bottom: 190px;
    gap: var(--space-6x1);
    margin-left: 35px;
    color: #323743FF;
    margin-top: 25px;
}

.rowresumen-2 {
    display: flex;
    justify-content:end;
    margin-bottom: 190px;
    gap: var(--space-6x1);
    margin-left: 315px;
    color: #323743FF;
    margin-top: 25px;
}

.buttondetalle {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    cursor: pointer;
}

.arrowright_one {
    height: 16px;
    width: 16px;
}

.container-7 {
    display: flex;
    gap: var(--space-6x1); /* Espacio entre los contenedores */
    position: absolute;
    margin-top: 80px;
    margin-left: 680px;
}

.container-8 {
    display: flex;
    gap: var(--space-6x1); /* Espacio entre los contenedores */
    position: absolute;
    margin-top: 80px;
    margin-left: 35px;
}


.container-9 {
    top: 84px; 
    left: 32px; 
    width: 280px; 
    height: 134px; 
    background: #F4FBF7FF; /* primary-100 */
    border-radius: 8px; /* border-xl */
}

.container-10{
    top: 84px; 
    left: 336px; 
    width: 280px; 
    height: 134px; 
    background: #FDFAEEFF; 
    border-radius: 8px; /* border-xl */
}

.container-11{
    top: 89px; 
    left: 690px; 
    width: 280px; 
    height: 134px; 
    background: #F4FAF8FF; /* tertiary1-100 */
    border-radius: 8px; /* border-xl */
}

.container-12{
    top: 84px; 
    left: 986px; 
    width: 280px; 
    height: 134px; 
    background: #F7F8F7FF; /* tertiary3-100 */
    border-radius: 8px; /* border-xl */
}

.vistageneral {
    top: 24px; 
    left: 32px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF;
}

.vistageneral1 {
    top: 24px; 
    left: 32px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF;
    margin-top: 30px;
    margin-left: 35px;
}

.resumen_mensual {
    top: 24px; 
    left: 32px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF;
    margin-top: 30px;
    margin-left: 35px;
}

.viewhierarchy {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.viewhierarchy-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
    border: 1px solid var(--gray_300);
    border-radius: 8px;
    gap: var(--space-md);
    width: 700px;
    height: 102px;
    margin-top: 20px;
    margin-left: 30px;
}

.column-1{
    top: 0px; 
    left: 0px; 
    width: 24px; 
    height: 24px; 
    margin-top: 30px;
    margin-left: 15px;
}

.columntitle,
.row-3,
.row_one-3 {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.row-3 {
    flex: 1;
}

.btnvisu{
    padding-left: 6px; 
    padding-right: 6px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 14px; 
    border-width: 1px; 
    border-style: solid; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: Inter; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    opacity: 1; 
    background: #00000000; /* transparent */
    border-color: #48BF84FF; 
    color: #48BF84FF;
    cursor: pointer;
    margin-left: 90px;
}

.btnvisu:hover{
    color: #125D95FF; /* info-700 */
    background: #00000000; /* transparent */
    border-color: #125D95FF; /* info-700 */
}

.row_one-3 {
    justify-content: center;
    margin-right: 35px;
}

.image-5 {
    height: 25px;
}

.containervista {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    margin-left: 799px;
    width: 500px; 
    height: 500px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
}

.column_one {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    
}


.stackpie_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

.dinut{
    top: 219px; 
    left: 139px; 
    font-family: Cabin; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #171A1FFF;
    margin-left: 194px;
    margin-top: 14px;
}

.pie_one {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.view_eight{
    height: 15px;
    width: 15px;
    background-color: var(--green_400);
    border-radius: 50%;
}

.view_nine {
    height: 15px;
    width: 15px;
    background-color: #26413CFF;
    border-radius: 50%;
}

.ronview_eight {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
    margin-top: 100px;
    margin-left: 35px;
}

.ronview_eight1 {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
    margin-top: 30px;
    margin-left: 35px;
}

.dinerorestante {
    top: 409px; 
    left: 60px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 500; 
    color: #171A1FFF; /* neutral-900 */
}

.finanzapp {
    top: 24px; 
    left: 24px; 
    font-family: Inter; /* Body */
    font-size: 21px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #323743FF;
    margin-top: 20px;
    margin-left: 25px;
}

.finanzapp2 {
    top: 181px; 
    left: 163px; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #323743FF; 
    margin-top: 105px;
    margin-left: 180px;
}

.pricetext {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 32px;
}

.del{
    color: #48BF84FF;
    font-size: 12px;
}

.row_three {
    display: flex; /* Hace que los elementos hijos se alineen en una fila */
    gap: var(--space-6x1); /* Espacio entre los contenedores (opcional) */
    margin-top: 35px;
}

.dinrest{
    position: absolute;
    top: 407px; 
    left: 335px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: bold; 
    color: #171A1FFF; /* neutral-900 */
    margin-top: -28px;
}

.dinrest1{
    position: absolute;
    top: 459px; 
    left: 335px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: bold; 
    color: #171A1FFF;
    margin-top: -29px;
}

.resu{
    top: 19px; 
    left: 16px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #171A1FFF;
}

.gasin{
    top: 43px; 
    left: 16px; 
    font-family: Inter; /* Body */
    font-size: 13px; 
    line-height: 20px; 
    font-weight: bold; 
    color: #565D6DFF;
    margin-top: 4px;
    margin-right: 115px;
}