body{
    background: #FAFAFBFF;
}

.containerbarra-3{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: var(--space-md);
    z-index: 1000;
}

.observareconom{
    position: absolute;
    display: flex;
    margin-left: -675px;
    margin-top: 18px;
    color: var(--gray_700);
}

.logotwitter_one1{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-left: -705px;
    margin-top: 15px;
}

.crearregistros{
    position: absolute;
    display: flex;
    margin-top: 20px;
    margin-left: -465px;
    color: var(--gray_700);
}

.recomendaciones{
    display: flex;
    font-weight: bold;
    margin-left: -295px;
    margin-top: 20px;
    color: var(--green_400);
}

.logotwitter_one{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-top: 15px;
    margin-left: -495px;
}

.logotwitter_one3{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-top: 15px;
    margin-right: 210px;
}

.res{
    margin-top: -4px;
    top: 19px; 
    left: 16px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #171A1FFF; /* neutral-900 */
}

.rescon{
    top: 43px; 
    left: 16px; 
    font-family: Inter; /* Body */
    font-size: 13px; 
    line-height: 20px; 
    font-weight: bold; 
    color: #565D6DFF;
    margin-top: 5px;
    margin-right: 115px;
}


.btnvisu{
    padding-left: 6px; 
    padding-right: 6px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 14px; 
    border-width: 1px; 
    border-style: solid; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: Inter; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    opacity: 1; 
    background: #00000000; /* transparent */
    border-color: #48BF84FF; 
    color: #48BF84FF;
    cursor: pointer;
}

.btnvisu:hover{
    color: #125D95FF; /* info-700 */
    background: #00000000; /* transparent */
    border-color: #125D95FF; /* info-700 */
}

.logotwitter_one2{
    position: absolute;
    width: 24px; 
    height: 24px;
    margin-top: -4px;
    margin-left: -325px;
}

.headermenu {
    gap: 1px;
    margin-top: 5px;
}

.registrargastos {
    background-color: var(--gray_50);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
    padding: var(--space-12x1);
    width: 100%;
}

.rowheaderlogo-1 {
    position: relative;
    align-items: center;
    gap: var(--space-md);
}

.image-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    margin-top: -50px;
    margin-left: 70px;
}

.user-profile {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.logout-button {
    background-color: #FFFFFFFF; /* Red color */
    color: #000000FF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    width: 180px;
    gap: 8px;
    margin-top: 1px;
}

.logout-button:hover{
    color: #28714CFF; /* primary-700 */
    background: #C9ECDBFF;
}

.user-profile:hover .dropdown-menu {
    display: block;
}

.imagelogo_one{
    top: 13px; 
    left: 72px; 
    width: 46px; 
    height: 46px; 
    border-radius: 0px;
}

.headerlogo_one-1 {
    top: 18px; 
    left: 129px; 
    font-family: Cabin; /* Heading */
    font-size: 30px; 
    line-height: 36px; 
    font-weight: 700; 
    color: #565D6DFF;
    margin-top: 10px;
    margin-right: 998px;
}

.rownombre {
    width: 82%;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}
    
.rowpizza {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width: 550px) {
        align-self: stretch;
    }
}

.containercant-1 {
    margin-top: 25px;
    top: 292px; 
    left: 586px; 
    width: 208px; 
    height: 100px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
}

.contgas{
    margin-top: 15px;
    margin-left: 30px;
    top: 18px; 
    left: 24px; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #171A1FFF; 
}
    
.fortysix {
    top: 52px; 
    left: 24px; 
    font-family: Inter; /* Body */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 700; 
    color: #26413CFF; /* secondary-500 */
    margin-top: 10px;
    margin-left: 30px;
}

.dell{
    top: 419px; 
    left: 633px; 
    font-family: Cabin; /* Heading */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 550; 
    color: #48BF84FF; /* primary-500 */
}

.archivecheckone {
    height: 28px;
    width: 28px;
}

.pricetext{
    top: 87px; 
    left: 625px; 
    font-family: Cabin; /* Heading */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 600; 
    color: #48BF84FF; /* primary-500 */
}

.recomendaciones-2 {
    gap: var(--space-16x1);
    background-color: var(--gray_50);
    box-shadow: var(--shadow-xs);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 1px;
}

.dropdown-1{
    width: 192px; 
    height: 36px; 
    padding-left: 12px; 
    padding-right: 34px; 
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #171A1FFF; /* neutral-900 */
    background: #FFFFFFFF; /* white */
    border-radius: 4px; /* border-m */
    border-width: 1px; 
    border-color: #BDC1CAFF; /* neutral-400 */
    outline: none; 
}

.newscreenbody-1 {
    top: 208px; 
    left: 65px; 
    width: 1296px; 
    height: 1900px; 
    background: #FFFFFFFF; /* white */
    border-radius: 4px; /* border-m */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
}

.container-16 {
    margin-top: 30px;
    margin-left: 30px;
    top: 32px; 
    left: 30px; 
    width: 539px; 
    height: 624px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
}

.container-17 {
    margin-top: 0px;
    margin-left: 30px;
    top: 708px; 
    left: 31px; 
    width: 539px; 
    height: 451px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
}

.generar {
    top: 345px; 
    left: 46px; 
    width: 90px; 
    height: 30px; 
    padding: 0 16px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Inter; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #48BF84FF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 8px; /* border-xl */
    box-shadow: 0px 8px 17px #48bf84, 0px 0px 2px #48bf84; /* shadow-l */
    margin-left: 10px;
    cursor: pointer;
}

.generar:hover{
    color: #FFFFFFFF; /* white */
    background: #369B68FF; /* primary-600 */
}

.newscreenbody-1{
    top: 208px; 
    left: 65px; 
    width: 1296px; 
    height: 980px; 
    background: #FFFFFFFF; /* white */
    border-radius: 4px; /* border-m */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
    margin-top: 25px;
}

.columndistribuc {
    margin-bottom: 8px;
    gap: 52px;
    align-self: center;
    display: flex;
    width: 44%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }

    @media only screen and (max-width: 550px) {
        gap: var(--space-9x1);
    }
}

.column-5 {
    margin-bottom: 6px;
    gap: var(--space-12xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.stackdinero-1 {
    height: 290px;
    margin-left: 94px;
    margin-right: 94px;
    position: relative;
    @media only screen and (max-width: 1050px) {
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}
    
.piechart1 {
    height: 290px;
    flex: 1;
    position: relative;
}

.circleprogressb {
    height: 290px;
    background-color: var(--green_400);
    flex: 1;
    transform: rotate(143deg);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    border-radius: 50%;
    background: conic-gradient(#3e98c7 var(--progress), #48bf84 0deg);
    margin: auto;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        margin: 17px;
        border-radius: 50%;
        background-color: var(--white_a700);
    }
}

.circleprogressb-1 {
    height: 290px;
    background-color: var(--green_400);
    flex: 1;
    transform: rotate(230deg);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    border-radius: 50%;
    background: conic-gradient(#3e98c7 var(--progress), #48bf84 0deg);
    margin: auto;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        margin: 17px;
        border-radius: 50%;
        background-color: var(--white_a700);
    }
}
    
.circleprogressb-2 {
    height: 290px;
    background-color: var(--green_400);
    flex: 1;
    transform: rotate(259deg);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    border-radius: 50%; 
    background: conic-gradient(#3e98c7 var(--progress), #48bf84 0deg);
    margin: auto;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        margin: 17px;
        border-radius: 50%;
        background-color: var(--white_a700);
    }
}

.circleprogressb-3 {
    height: 290px;
    background-color: var(--green_400);
    flex: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    border-radius: 50%;
    background: conic-gradient(#3e98c7 var(--progress), #48bf84 0deg);
    margin: auto;
    &::after {
        content: "";
        display: flex;
        width: 100%;
        margin: 17px;
        border-radius: 50%;
        background-color: var(--white_a700);
    }
}
    
.columnview {
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
}

.predis{
    top: 402px; 
    left: 451px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
    margin-right: 30px;
}

.rowview_three {
    gap: var(--space-3x1);
    align-self: end;
    flex: 1;
    display: flex;
    align-items: center;
}

.view_three {
    height: 16px;
    background-color: var(--green_300);
    width: 16px;
    border-radius: var(--radius-1g);
}

.view_three1 {
    height: 16px;
    background-color: var(--green_300);
    width: 16px;
    border-radius: var(--radius-1g);
    margin-left: 40px;
}

    
.stackdinero_one {
    height: 290px;
    margin-left: 92px;
    margin-right: 92px;
    position: relative;
    @media only screen and (max-width: 1050px) {
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}
    
.circleimage {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 20px;
}
    
.columndinero-1 {
    margin-top: 300px;
    margin-left: -10px;
}

.dinerorestante{
    top: 400px; 
    left: 60px; 
    width: 108px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 500; 
    color: #171A1FFF; /* neutral-900 */
    margin-left: 10px;
}

.dinres{
    top: 398px; 
    left: 460px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
    margin-right: 40px;
}
    
.column_one-1 {
    margin-top: 100px;
    margin-left: 210px;
    gap: var(--space-13x1);
    display: flex;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
    }
}

.finanzapp{
    top: 181px; 
    left: 212px; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}

.finanzapp1{
    top: 181px; 
    left: 200px; 
    font-family: Inter; /* Body */
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
    margin-top: -180px;
    margin-left: 110px;
}

.dincon{
    top: 219px; 
    left: 214px; 
    font-family: Cabin; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
    margin-left: 125px;
}

.dinul{
    top: 219px; 
    left: 196px; 
    font-family: Cabin; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
    margin-top: 15px;
    margin-left: -15px;
}

.rowltimo_mes {
    margin-right: 14px;
    @media only screen and (max-width: 1050px) {
        margin-right: 0px;
    }
}

.columnltimo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rowcurrencydoll {
    margin-top: 22px;
    gap: var(--space-2xl);
    align-self: stretch;
    display: flex; 
}
    
.containergasto {
    top: 125px; 
    left: 586px; 
    width: 665px; 
    height: 144px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
    margin-top: 20px;
}

.rownombre-1{
    display: flex;
    margin-top: 10px;
}

.rownombre-2{
    display: flex;
    margin-top: 20px;
}

.finanzapp2{
    top: 16px; 
    left: 17px; 
    width: 55px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #323743FF; /* neutral-700 */
    margin-left: 20px;
}

.finanzapp5{
    margin-top: 15px;
    top: 16px; 
    left: 17px; 
    width: 55px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #323743FF; /* neutral-700 */
    margin-left: 20px;
}

.finanzapp6{
    margin-top: 15px;
    margin-right: 410px;
    top: 16px; 
    left: 137px; 
    width: 36px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
    white-space: nowrap; /* Evita el wrapping del texto */
}

.finanzapp7 {
    display: flex;
    top: 16px; 
    left: 17px; 
    width: 55px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #323743FF; /* neutral-700 */
    margin-left: -275px;
}

.finanzapp8 {
    top: 16px; 
    left: 17px; 
    width: 55px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}

.preciprom{
    display: flex;
    top: 16px; 
    left: 17px; 
    width: 55px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #323743FF; /* neutral-700 */
    margin-right: 150px;
    white-space: nowrap; /* Evita el wrapping del texto */
}

.finanzapp3{
    margin-left: 90px;
    top: 16px; 
    left: 137px; 
    width: 36px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
    white-space: nowrap;
}

.finanzapp4{
    margin-right: 90px;
    top: 16px; 
    left: 137px; 
    width: 36px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}

.finanzapp9{
    margin-left: 20px;
    top: 16px; 
    left: 137px; 
    width: 36px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #323743FF; /* neutral-700 */
    white-space: nowrap; /* Evita el wrapping del texto */
}

.finanzapp10{
    margin-left: 90px;
    top: 16px; 
    left: 137px; 
    width: 36px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}

.columnnombre {
    margin-bottom: 14px;
    gap: var(--space-5xl);
    display: flex;
    flex-direction: column;
}

.rowpreciopromed {
    gap: var(--space-8x1);
    display: flex;
    flex-wrap: wrap;
}

.rowporcentaje {
    gap: 145px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    @media only screen and (max-width: 1050px) {
        gap: 20px;
    }
}
    
.rowvecesreincid {
    margin-top: 20px;
    gap: var(--space-6x1);
    display: flex;
    flex-wrap: wrap;
}

.containercant {
    margin-top: 22px;
    margin-right: 222px;
    gap: var(--space-9xl);
    display: flex;
    align-self: stretch;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
        margin-right: 0px;
    }
}    

.rowarrowupright {
    margin-left: 6px;
    margin-right: 6px;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.columncinfoone {
    gap: var(--space-6x1);
    display: flex;
    flex-direction: column;
}
    
.rowcinfoone_one {
    margin-top: -10px;
    gap: var(--space-3x1);
    display: flex;
}
    
.tablemes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
    border: 1px solid var(--gray_300);
    border-radius: 8px;
    gap: var(--space-md);
    width: 669px;
    height: 102px;
    margin-top: 0px;
}

.columntitle1{
    margin-left: 70px;
}

.columnarrowupri {
    border-top-width: 0.5px;
    background-color: var(--white_a700);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-14x1) var(--space-5x1);
    border-bottom: 0.5px solid var(--gray_300);
    @media only screen and (max-width: 550px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
    
.visualizar {
    color: var(--blue_400) !important;
    border-top-width: 0.5px;
    min-width: 114px;
    border-bottom: 0.5px solid var(--gray_300);
    @media only screen and (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.rowslider_one {
    border-top-width: 0.5px;
    background-color: var(--white_a700);
    display: flex;
    padding: var(--space-15x1) var(--space-12x1);
    border-bottom: 0.5px solid var(--gray_300);
    @media only screen and (max-width: 550px) {
        padding: 20px;
    }
}

.slider_one {
    height: 25px;
    width: 100%;
    margin-right: 50px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.columnarchivech {
    margin-left: 6px;
    margin-right: 6px;
    gap: var(--space-5xl);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}
    
.rowarchivecheck {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -130px;
    gap: 7px;
    display: flex;
    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.reco{
    top: 611px; 
    left: 635px; 
    font-family: Cabin; /* Heading */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 600; 
    color: #48BF84FF; /* primary-500 */
}

.description-4 {
    top: 656px; 
    left: 594px; 
    width: 665px; 
    height: 144px; 
    background: #FFFFFFFF; /* white */
    border-radius: 8px; /* border-xl */
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid;
    flex-wrap: nowrap; 
    margin-top: 15px;
}

.indes{
    margin-top: 10px;
    margin-left: 10px;
}

.dashboard{
    top: 120px; 
    left: 65px; 
    font-family: Cabin; /* Heading */
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
    margin-top: 100px;
}

.vista_general{
    top: 24px; 
    left: 32px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */   
    margin-top: 20px;
    margin-left: 30px;
}

.dinerorestante{
    top: 404px; 
    left: 60px; 
    width: 130px; 
    font-family: Inter; /* Body */
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 500; 
    color: #171A1FFF; /* neutral-900 */
}

.vista_general1{
    top: 32px; 
    left: 586px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}

.dropdown-1{
    position: absolute;
    margin-top: 2px;
}

.vista_general2{
    margin-top: 20px;
    margin-left: 30px;
    top: 24px; 
    left: 32px; 
    font-family: Cabin; /* Heading */
    font-size: 24px; 
    line-height: 36px; 
    font-weight: 400; 
    color: #323743FF; /* neutral-700 */
}


.columnarchivech,
.rowarrowupright{
    margin-left: 600px;
    margin-top: 180px;
}

.column_one-2{
    margin-left: 600px;
    margin-top: -635px;
}

.agregar {
    top: 345px; 
    left: 46px; 
    width: 100px; 
    height: 37px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: Inter; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #48BF84FF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 8px; /* border-xl */
    margin-left: 200px;
    cursor: pointer;
    margin-top: 15px;
}

.agregar:hover{
    color: #FFFFFFFF; /* white */
    background: #369B68FF; /* primary-600 */
}