<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/CrearCuenta.css" />
</head>
<body>
    <div class="iniciarsesion">
        <div class="rowemail">
            <div class="containercrear">
                <div class="column-5">
                    <div class="rowheaderlogo">
                        <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                        <p class="crear_cuenta-1 ui text size-text2xl">Crear Cuenta</p>
                    </div>
                    <div class="columnaceptotr">
                        <div class="rownombre-2">
                            <div class="columnnombre-2">
                                <h1 class="email-2 ui heading size-headingxs">Nombre</h1>
                                <label class="email-3 ui input size-xs fill round">
                                    <input name="david" placeholder="David" type="text">
                                </label>
                            </div>
                            <div class="columnapellido">
                                <h2 class="email-2 ui heading size-headingxs">Apellido</h2>
                                <label class="email-3 ui input size-xs fill round">
                                    <input name="yascaribay" placeholder="Yascaribay" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="columnemail-1">
                            <h3 class="email-2 ui heading size-headingxs">Email</h3>
                            <label class="email-3 ui input size-xs fill round">
                                <input name="email" placeholder="ejemplo@gmail.com" type="email">
                            </label>
                        </div>
                        <div class="columncontrasea">
                            <h4 class="email-2 ui heading size-headingxs">Contraseña</h4>
                            <label class="hide ui input size-xs fill round">
                                <input name="hide" placeholder="Ingresa 8+ caracteres" type="password">
                                <img src="../static/images/img_hide.svg" alt="Hide" class="hide-1">
                            </label>
                        </div>
                        <div class="columnconfirmar">
                            <h5 class="email-2 ui heading size-headingxs">Confirmar Contraseña</h5>
                            <label class="hide ui input size-sm fill round">
                                <input name="hide_one" type="password">
                                <img src="../static/images/img_hide.svg" alt="Hide" class="hide-1">
                            </label>
                        </div>
                        <label class="aceptotrminosd ui checkbox">
                            <input class="ui checkbox square" type="checkbox" name="aceptotérminosd">
                            <div>Acepto Términos de uso & Políticas de Privacidad</div>
                        </label>
                        <button class="crear_cuenta-2 ui button size-md fill">Crear Cuenta</button>
                        <div class="rowyatienesunac">
                            <p class="ui text size-texts">¿Ya tienes una cuenta?</p>
                            <a href="/login">
                                <h6 class="crea_una_ahora ui heading size-headingxs">Inicia sesión</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one-1">
</body>
</html>