<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>Finanzapp</title>
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/CrearCuenta.css" />

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('registroForm');
            form.addEventListener('submit', function(event) {
                const password = form.elements['password_one'].value;
                const password_repeated = form.elements['password_repeated'].value;
                const errorElement = document.querySelector('.error');
                errorElement.textContent = ''; // Limpiar mensaje de error anterior
    
                if (password.length < 8) {
                    errorElement.textContent = 'La contraseña debe tener al menos 8 caracteres.';
                    event.preventDefault(); // Evitar envío del formulario
                    return;
                }
                if (!/\d/.test(password)) {
                    errorElement.textContent = 'La contraseña debe contener al menos un número.';
                    event.preventDefault(); // Evitar envío del formulario
                    return;
                }
                if (password != password_repeated) {
                    errorElement.textContent = 'Las contraseñas no coinciden';
                    event.preventDefault(); // Evitar envío del formulario
                    return;
                }
            });
        });
    </script>
</head>
<body>
    <div class="crearcuenta">
        <div class="rowemail">
            <div class="flex-col-center-center containercrear">
                <div class="column-5">
                    <div class="rowheaderlogo">
                        <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                        <a href="/PaginaPrincipal">
                        <p class="crear_cuenta-1 ui heading size-heading2x1">REGISTRARSE</p>
                        </a>
                    </div>
                    <div class="columnaceptotr">
                        <form id="registroForm" action="/registro_correcto" method="post">
                            <div class="rownombre-2">
                                <div class="columnnombre-2">
                                    <h4 class="email ui heading size-headingxs">Nombre</h4>
                                    <label class="email-3 ui input size-xs fill round">
                                        <input name="nombre" placeholder="David" type="text" required>
                                    </label>
                                </div>
                                <div class="columnapellido">
                                    <h4 class="email-2 ui heading size-headingxs">&nbsp;&nbsp;&nbsp;&nbsp;Apellido</h4>
                                    <label class="email-4 ui input size-xs fill round">
                                        <input name="apellido" placeholder="Yascaribay" type="text" required>
                                    </label>
                                </div>
                            </div>
                            <div class="columnemail-1">
                                <h4 class="email ui heading size-headingxs">Email</h4>
                                <label class="email-5 ui input size-xs fill round">
                                    <input name="email_usuario" placeholder="ejemplo@gmail.com" type="email" required>
                                </label>
                            </div>
                            <div class="columncontrasea">
                                <h4 class="email ui heading size-headingxs">Contraseña</h4>
                                <label class="email-5 ui input size-xs fill round">
                                    <input name="password_one" placeholder="Ingresa 8+ caracteres" type="password" required>
                                    <img src="../static/images/img_hide.svg" alt="Hide" class="hide-1">
                                </label>
                            </div>
                            <div class="columncontrasea">
                                <h4 class="email ui heading size-headingxs">Confirmar Contraseña</h4>
                                <label class="email-5 ui input size-xs fill round">
                                    <input name="password_repeated" placeholder="Repite la contraseña" type="password" required>
                                    <img src="../static/images/img_hide.svg" alt="Hide" class="hide-1">
                                </label>
                            </div>
                            <h4 class="error ui heading size-headingxs">{{msj_registro}}</h4>
                            <label class="aceptotrminosd ui checkbox">
                                <input class="ui checkbox square" type="checkbox" name="aceptotérminosd" required>
                                <div>Acepto Términos de uso & Políticas de Privacidad</div>
                            </label>
                            <button class="crear_cuenta-2 ui button size-md fill" type="submit">Crear Cuenta</button>
                        </form>
                        <div class="rowyatienesunac">
                            <p class="ui text size-texts">¿Ya tienes una cuenta?</p>
                            <a href="/login">
                                <h4 class="crea_una_ahora ui heading size-headingxs">Inicia sesión</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one-1">
</body>
</html>