<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>Finanzapp</title>
    <link rel="icon" href="../static/images/img_image_1.svg" type="image/svg+xml"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <link rel="stylesheet" type="text/css" href="../static/css/IniciarSesion.css">
</head>
<body>
    <div class="iniciarsesion">
        <div class="rowemail">
            <div class="flex-col-center-center container-7">
                <div class="rowheader_logo">
                    <a href="/PaginaPrincipal">
                    <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                    </a>
                    <a href="/PaginaPrincipal">
                    <h1 class="finanzapp-1 ui heading size-heading2x1">FINANZAPP</h1>
                    </a>
                </div>
                <div class="columnemail">
                    <form action="/app/observar_gastos" method="post">
                        <label class="email-1 ui input size-nd fill">
                            <img src="../static/images/img_lock.svg" alt="Lock" class="lock">&nbsp;
                            <input name="email" placeholder="Email" type="email">
                        </label>
                        <label class="password-1 ui input size-nd fill">
                            <img src="../static/images/img_lock_key.svg" alt="Lock" class="lock">&nbsp;
                            <input name="lock_key" placeholder="Contraseña" type="password">
                        </label>
                        <a href="/olvcontrasena">
                            <h4 class="olvidsucontras ui heading size-headingxs">Olvidó su contraseña y/o usuario</h4>
                        </a>
                        <h4 class="error ui heading size-headingxs">{{msj_login}}</h4>
                        <a href="/login">
                            <button class="iniciar_sesin-1">Iniciar Sesión</button>
                        </a>
                    </form>
                    <div class="rowtodaviano">
                        <p class="ui text size-texts">¿Todavía no tienes una cuenta?</p>
                        <a href="/registrar_cuenta" >
                            <h4 class="crea_una_ahora ui heading size-headingxs">Crea una ahora</h4>
                        </a>
                    </div>
                </div>
            </div>
            <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one">
        </div>
    </div>
</body>
</html>
