<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <title>Finanzapp</title>
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: px; height: px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <link rel="stylesheet" type="text/css" href="../static/css/IniciarSesion.css">
</head>
<body>
    <div class="iniciarsesion">
        <div class="rowemail">
            <div class="flex-col-center-center container-7">
                <div class="rowheader logo">
                    <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                    <h1 class="finanzapp-1 ui heading size-heading2x1">FINANZAPP</h1>
                </div>
                <div class="columnemail">
                    <form action="/app/observar_gastos" method="post">
                        <label class="email-1 ui input size-nd fill">
                            <img src="../static/images/img_lock.svg" alt="Lock" class="lock">
                            <input name="email" placeholder="Email" type="email">
                        </label>
                        <label class="email-1 ui input size-md fill">
                            <img src="../static/images/img_lock_key.svg" alt="Lock Key" class="lock">
                            <input name="lock_key" placeholder="Contraseña" type="password">
                        </label>
                        <a href="/olvcontrasena">
                            <h2 class="olvidsucontras ui heading size-headingxs">Olvidó su contraseña y/o usuario</h2>
                        </a>
                        <h4 class="error ui heading size-headingxs">{{error}}</h4>
                        <a href="/login">
                            <button class="iniciar_sesión-1 ui button size-nd fill round">Iniciar Sesión</button>
                        </a>
                    </form>
                    <div class="rowtodavíano">
                        <p class="ui text size-texts">¿Todavía no tienes una cuenta?</p>
                        <a href="/registro" >
                            <h3 class="crea_una_ahora ui heading size-headingxs">Crea una ahora</h3>
                        </a>
                    </div>
                </div>
            </div>
            <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one">
        </div>
    </div>
</body>
</html>
