<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ObservarGastos.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Obtener los datos desde el contexto de Flask
        var dineroRestante = {{get_dinero_restante}};
        var dineroUtilizado = {{get_dinero_utilizado}};
        
        // Configurar el gráfico de pastel
        window.onload = function() {
            var ctx = document.getElementById('graficoPastel').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Dinero Restante', 'Dinero Utilizado'], //Labels
                    datasets: [{ //Datos para el gráfico
                        data: [dineroRestante, dineroUtilizado],
                        backgroundColor: ['#48BF84', '#26413C'],
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="observargastos">
        <header class="containerbarra-2">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                    <h2 class="headerlogo_one-1">FINANZAPP</h2>
                    <div class="row-2">
                        <div class="headermenu">
                            <a href="/app/observar_gastos">
                                <div class="menuitem">
                                    <img src="../static/images/img_layout_11.svg" alt="Layouteleven" class="logotwitter_one1" />
                                    <p class="observareconom">Observar economía</p>
                                </div>
                            </a>
                            <a href="/app/crear_registro">
                                <div class="menuitem">
                                    <img src="../static/images/img_package.svg" alt="Package" class="logotwitter_one" />
                                    <p class="crearregistros">Crear registros</p>
                                </div>
                            </a>
                            <a href="/app/recomendaciones">
                                <div class="menuitem">
                                    <img src="../static/images/img_cart.svg" alt="Cart" class="logotwitter_one2" />
                                    <p class="recomendaciones">Recomendaciones</p>
                                </div>
                            </a>
                        </div>
                        <div class="user-profile">
                            <a href="#">
                                <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                            </a>
                            <div class="dropdown-menu">
                                <a href="/login">
                                    <button class="logout-button">
                                        <img src="../static/images/img_log_out.svg">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="column_three container-xs">
            <div class="column_two">
                <div class="columndashboard">
                    <h1 class="dashboard">Dashboard</h1>
                    <div class="stackresumen">
                        <div class="rowresumen-1">
                            <p class="vistageneral ui text size-textxl">Resumen financiero</p>
                        </div>
                        <div class="container-8">
                            <div class="container-9">
                                <p class="finanzapp">Dinero restante</p>
                                <h2 class="pricetext ui heading size-heading2x1">${{get_dinero_restante}}</h2>
                            </div>
                            <div class="container-10">
                                <p class="finanzapp">Dinero utilizado</p>
                                <h2 class="pricetext ui heading size-heading2x1">${{get_dinero_utilizado}}</h2>
                            </div>
                        </div>
                        <div class="rowresumen-2">
                            <p class="vistageneral3 ui text size-textxl">Actividad</p>
                            <a href="/app/observar_gastos_general">
                                <div class="buttondetalle">
                                <p class="del">Ver detalles</p>
                                <img src="../static/images/img_arrow_right.svg" alt="Arrowright" class="arrowright_one" />
                                </div>
                            </a>
                        </div>
                        <div class="container-7">
                            <div class="container-11">
                                <p class="finanzapp">Gastos</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_cant_gastos}}</h2>
                            </div>
                            <div class="container-12">
                                <p class="finanzapp">Ingresos</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_cant_ingresos}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_three">
                    <div class="rowresumen">
                        <div class="container-g">
                            <p class="resumen_mensual ui text size-textxl">Resumen mensual</p>
                            <p class="resumen_mensual ui text size-textxl">{{get_error}}</p>
                            <div class="viewhierarchy">
                                {% for mes in get_meses %}
                                    <div class="viewhierarchy-1">
                                        <div class="column-1">
                                            <img src="../static/images/img_arrow_up_right.svg" alt="Image" class="logotwitter_one" />
                                        </div>
                                        <div class="columntitle">
                                            <p class="resu">Resumen de {{ mes['Mes'] }} de {{ mes['Año'] }}</p>
                                            <p class="gasin">{{ mes['Cant_Gastos'] }} gastos<br/>{{ mes['Cant_Ingresos'] }} ingresos</p>
                                        </div>
                                        <div class="row-3">
                                            <a href="/app/observar_gastos_mes?mes={{ mes['Mes'] }}&año={{ mes['Año'] }}">
                                                <button class="btnvisu">
                                                    Visualizar
                                                </button>
                                            </a>
                                        </div>
                                        <div class="row_one-3">
                                            <img src="../static/images/img_slider.svg" alt="Image" class="image-5" />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="containervista">
                        <p class="vistageneral1">Vista general</p>
                        <div class="column_one">
                            <div class="columnpie_one">
                                <div class="stackpie_one">
                                    <div class="column_one-1">
                                        <p class="finanzapp2">Dinero utilizado</p>
                                        <h4 class="dinut">${{get_dinero_utilizado}}</h4>
                                    </div>
                                    <div data-progress="47" style="--progress: 47%" class="pie one">
                                    </div>
                                    <canvas id="graficoPastel"></canvas>
                                </div>
                                <div class="row_twentysix">
                                    <div class="ronview_eight">
                                        <div class="view_eight"></div>
                                        <p class="dinerorestante">Dinero restante</p>
                                    </div>
                                    <h3 class="dinrest">${{get_dinero_restante}}</h3>
                                </div>
                                <div class="row_twentyseven">
                                    <div class="ronview_eight1">
                                        <div class="view_nine"></div>
                                        <p class="dinerorestante">Dinero utilizado</p>
                                    </div>
                                    <h3 class="dinrest1">${{get_dinero_utilizado}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
                                        
                        
            