<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ObservarGastos.css" />
</head>
<body>
    <div class="observargastos">
        <header class="containerbarra-2">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_header_logo.png" alt="Headerlogo" class="headerlogo_one-1" />
                    <div class="row-2">
                        <div class="headermenu">
                            <div class="rowlayouteleven">
                                <a href="#">
                                    <img src="../static/images/img_layout_11.svg" alt="Layouteleven" class="logotwitter_one" />
                                    <p class="observareconom ui heading size-headingxs">Observar economía</p>
                                </a>
                            </div>
                            <a href="/app/crear_registros">
                                <div class="rowpackage_one">
                                    <a href="/app/crear_registros">
                                        <img src="../static/images/img_package.svg" alt="Package" class="logotwitter_one" />
                                        <p class="crearregistros ui text size-texts">Crear registros</p>
                                    </a>
                                </div>
                            </a>
                            <a href="https://www.youtube.com/embed/bv8Fxk0sz7]" target="_blank">
                                <div class="rowlayouteleven">
                                    <a href="#">
                                        <img src="../static/images/img_cart.svg" alt="Cart" class="logotwitter_one" />
                                        <p class="recomendaciones ui text size-texts">Recomendaciones</p>
                                    </a>
                                </div>
                            </a>
                        </div>
                        <a href="#">
                            <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="column_three container-xs">
            <div class="column_two">
                <div class="columndashboard">
                    <h1 class="dashboard ui heading size-heading2x">Dashboard</h1>
                    <div class="stackresumen">
                        <div class="rowresumen-1">
                            <p class="vistageneral ui text size-textxl">Resumen financiero</p>
                            <div class="buttondetalle">
                                <p class="pricetext ui text size-texts">Ver detalles</p>
                                <img src="../static/images/img_arrow_right.svg" alt="Arrowright" class="arrowright_one" />
                            </div>
                        </div>
                        <div class="container-8">
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Dinero restante</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_dinero_restante}}</h2>
                            </div>
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Dinero utilizado</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_dinero_utilizado}}</h2>
                            </div>
                        </div>
                        <div class="rowresumen-1">
                            <p class="vistageneral ui text size-textxl">Actividad</p>
                            <div class="buttondetalle">
                                <p class="pricetext ui text size-texts">Ver detalles</p>
                                <img src="../static/images/img_arrow_right.svg" alt="Arrowright" class="arrowright_one" />
                            </div>
                        </div>
                        <div class="container-8">
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Gastos</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_cant_gastos}}</h2>
                            </div>
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Ingresos</p>
                                <h2 class="pricetext ui heading size-heading2x1">{{get_cant_ingresos}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_three">
                    <div class="rowresumen">
                        <div class="container-g">
                            <p class="resumen_mensual ui text size-textxl">Resumen mensual</p>
                            <p class="este_mes ui text size-texts">Este mes</p>
                            <div class="viewhierarchy">
                                <a href="https://www.youtube.com/embed/bv8Fxk@sz7I" target="_blank">
                                    <div class="viewhierarchy-1">
                                        <div class="column-1">
                                            <img src="../static/images/img_arrow_up_right.svg" alt="Image" class="logotwitter_one" />
                                        </div>
                                        <div class="columntitle">
                                            <p class="ui text size-texts">Resumen de julio de 2024</p>
                                            <p class="subtitle ui text size-textxs">46 gastos<br />0 ingresos</p>
                                        </div>
                                        <div class="row-3">
                                            <button 
                                                class="button-1 ui button size-xs outline undefined undefined undefined undefined border"
                                            >
                                                Visualizar
                                            </button>
                                        </div>
                                        <div class="row one-3">
                                            <img src="../static/images/img_slider.svg" alt="Image" class="image-5" />
                                        </div>
                                    </div>
                                </a>
                                <p class="junio ui text size-texts">Junio</p>
                                <div class="viewhierarchy-1">
                                    <div class="column-1">
                                        <img src="../static/images/img_arrow_up_right.svg" alt="Image" class="logotwitter_one" />
                                    </div>
                                    <div class="columntitle">
                                        <p class="ui text size-texts">Resumen de junio de 2024</p>
                                        <p class="subtitle ui text size-texts">24 gastos<br />4 ingresos</p>
                                    </div>
                                    <div class="row-3">
                                        <button class="button-1 ui button size-xs outline undefined undefined undefined border">
                                            Visualizar
                                        </button>
                                    </div>
                                    <div class="row one-3">
                                        <img src="../static/images/img_slider.svg" alt="Image" class="image-5" />
                                    </div>
                                </div>
                                <p class="junio ui text size-texts">Mayo</p>
                                <div class="viewhierarchy-1">
                                    <div class="column-1">
                                        <img src="../static/images/img_arrow_up_right.svg" alt="Image" class="logotwitter_one" />
                                    </div>
                                    <div class="columntitle">
                                        <p class="ui text size-texts">Resumen de mayo de 2024</p>
                                        <p class="subtitle ui text size-texts">3 gastos<br />5 ingresos</p>
                                    </div>
                                    <div class="row-3">
                                        <button class="button-1 ui button size-xs outline undefined undefined undefined border">
                                            Visualizar
                                        </button>
                                    </div>
                                    <div class="row_one-3">
                                        <img src="../static/images/img_slider.svg" alt="Image" class="image-5" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="containervista">
                        <p class="vistageneral ui text size-textxl">Vista general</p>
                        <div class="column_one">
                            <div class="columnpie_one">
                                <div class="stackpie_one">
                                    <div class="column_one-1">
                                        <p class="finanzapp ui text size-textmd">Dinero utilizado</p>
                                        <h4 class="ui heading size-heading3x1">$1345.50</h4>
                                    </div>
                                    <div data-progress="47" style="--progress: 47%" class="pie one"></div>
                                </div>
                                <div class="row_twentysix">
                                    <div class="ronview_eight">
                                        <div class="view_eight"></div>
                                        <p class="dinerorestante ui text size-texts">Dinero restante</p>
                                    </div>
                                    <h5 class="ui heading size-headings">$1600.45</h5>
                                </div>
                                <div class="row_twentyseven">
                                    <div class="ronview_eight">
                                        <div class="view_nine"></div>
                                        <p class="dinerorestante ui text size-texts">Dinero utilizado</p>
                                    </div>
                                    <h6 class="ui heading size-headings">$1345.50</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
                                        
                        
            