<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="icon" href="../static/images/img_image_1.svg" type="image/svg+xml"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index-css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/OlvidasteContrasena.css" />
</head>
<body>
    <div class="olvidastecontrasena">
        <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one-2" />
        <div class="container-24">
            <div class="columningresa">
                <h1 class="ingresa_tu">Ingresa tu correo</h1>
                <label class="email-3">
                    <input name="email" placeholder="ejemplo@gmail.com" type="email" />
                </label>
                <p class="enviaremostucon">Enviaremos tu contraseña al correo registrado </p>
                <div class="rowcancelar">
                    <a href="/login">
                        <button class="buttoncancelar">Cancelar</button>
                    </a>
                    <button class="enviar">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

        
        
