<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo-png?c=&v="
        style="width: 0px; height: px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index-css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/OlvidasteContrasena.css" />
</head>
<body>
    <div class="olvidastecontrasena">
        <img src="../static/images/img_image_fondo.png" alt="Imagefondo" class="imagefondo_one-2" />
        <div class="container-24">
            <div class="columningresa">
                <h1 class="ingresa_tu ui heading size-heading3xl">Ingresa tu correo</h1>
                <label class="email-3 ui input gray_100 size-lg fill round">
                    <input name="email" placeholder="ejemplo@gmail.com" type="email" />
                </label>
                <p class="enviaremostucon ui text size-textmd">Enviaremos tu contraseña al correo registrado </p>
                <div class="rowcancelar">
                    <a href="/login">
                        <div class="buttoncancelar">
                            <p class="cancelar ui text size-texts">Cancelar</p>
                        </div>
                    </a>
                    <button class="enviar ui button green_400 size-sm fill">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

        
        
