<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app">
    <img
        alt="Logo"
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/font.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/components-css" />
    <link rel="stylesheet" type="text/css" href="../css/PaginaPrincipal.css" />
</head>
<body>
    <div class="paginaprincipal">
        <header class="containerbarra">
            <div class="columnline">
                <div class="line"></div>
                <div class="row">
                    <div class="rowheaderlogo">
                        <a href="#">
                            <img src="../public/images/img_image_1.svg" alt="Imageone" class="imageone_one" />
                        </a>
                        <img src="../public/images/img_header_logo.png" alt="Headerlogo" class="headerlogo_one" />
                    </div>
                    <ul class="rowinicio">
                        <li>
                            <a href="#">
                                <p class="inicio ui heading size-headingxs">Inicio</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="caractersticas-link">
                                <p class="caractersticas ui heading size-headingxs">Características</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="caractersticas-link">
                                <p class="caractersticas ui heading size-headingxs">Premium</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="caractersticas-link">
                                <p class="caractersticas ui heading size-headingxs">Nuestro Equipo</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="caractersticas-link">
                                <p class="caractersticas ui heading size-headingxs">Acerca de</p>
                            </a>
                        </li>
                    </ul>
                    <div class="rowcrear _cuenta">
                        <a href="https://www.youtube.com/embed/bv8Fxk0sz7I" target="_blank">
                            <button class="crear_cuenta ui button size-sm fill">Crear cuenta</button>
                        </a>
                        <a href="https://www.youtube.com/embed/bv8Fxk®sz7]" target="_blank">
                            <button class="iniciar _sesin ui button size-sm fill">Iniciar sesión</button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="newscreenbody">
            <div class="row_one">
                <div class="rowcuidalaecono container-xs">
                    <img src="../public/images/img_image_inicio.png" alt="Imageinicio" class="imageinicio_one" />
                    <div class="columncuidalaec">
                        <h1 class="cuidalaeconoma ui heading size-heading5xl">Cuida la economía de tu bolsillo</h1>
                        <p class="gestionesusgast ui text size-textmd">
                            Gestione sus gastos de la manera más eficiente, una solución perfecta para asegurar su economía.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row_two">
                <div class="rowfinanzapp container-xs">
                    <div class="columniconofour">
                        <div class="columnfinanzapp">
                            <h2 class="finanzapp ui heading size-heading4x">FINANZAPP</h2>
                            <div class="container-3">
                                <div class="container-4">
                                    <img src="../public/images/img_icono_1.svg" alt="Image" class="image" />
                                    <h3 class="subheading ui heading size-headingmd">Mejor control financiero</h3>
                                    <p class="description-1 ui text size-texts">
                                        Al tener la posibilidad de tener un seguimiento de los registros de todos los gastos que se
                                        realicen se podrá identificar patrones para realizar enfoques de mejora.
                                    </p>
                                </div>
                                <div class="container-4">
                                    <img src="../public/images/img_clock.svg" alt="Image" class="image" />
                                    <h4 class="subheading ui heading size-headingmd">Detección de gastos innecesarios</h4>
                                    <p class="description-1 ui text size-texts">
                                        La aplicación se encarga de analizar todos los gastos que se 
                                        realicen, esta misma podrá detectar los gastos que son innecesarios para notificarle al usuario.
                                    </p>
                                </div>
                                <div class="container-4">
                                    <img src="../public/images/img_icono_3.svg" alt="Image" class="image" />
                                    <h5 class="subheading ui heading size-headingmd">Mejorar la conciencia financiera</h5>
                                    <p class="description-1 ui text size-texts">
                                        La aplicación se encarga de realizar recomendaciones a los usuarios para evitar gastos 
                                        innecesarios y crear hábitos de ahorro.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container-2">
                            <img src="../public/images/img_icono_4.svg" alt="Iconofour" class="iconofour_one" />
                            <h6 class="motivacinalaho ui heading size-headingmd">Motivación al ahorro</h6>
                            <p class="description ui text size-texts">
                                La aplicación motiva a los usuarios a ahorrar para cuidar su dinero y alcanzar metas financieras.
                                Visualizar los gastos permite identificar pequeñas oportunidades de ahorro.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="column">
                    <div class="columnhazte container-xs">
                        <h2 class="ui heading size-heading4x1">Hazte Premium</h2>
                        <div class="plancontainer">
                            <div class="plancontainer-1">
                                <p class="plantext ui text size-textlg">Plan Gratis</p>
                                <h3 class="pricetext ui heading size-heading4x1">$0</h3>
                                <p class="limittext ui text size-textmd">Limitado</p>
                                <div class="columnadtext">
                                    <div class="row-1">
                                        <img src="../public/images/img_check_3.svg" alt="Expenseimage1" class="logotwitter_one" />
                                        <p class="ui text size-textmd">Registro ilimitado de gastos</p>
                                    </div>
                                    <div class="row-1">
                                        <img src="../public/images/img_check_3.svg" alt="Expenseimage2" class="logotwitter_one" />
                                        <p class="ui text size-textmd">Visualización de gastos</p>
                                    </div>
                                    <div class="row-1">
                                        <img src="../public/images/img_check_3.svg" alt="Adimage" class="logotwitter_one" />
                                        <p class="ui text size-textmd">Publicidad</p>
                                    </div>
                                </div>
                                <button 
                                    class="currentplanbutt ui button size-lg outline round undefined _undefined undefined_ undefined_border"
                                >
                                    Tu plan actual
                                </button>
                            </div>
                        </div>
                        <div class="plancontainer-2">
                            <p class="plantext ui text size-textlg">Plan Gratis</p>
                            <h4 class="pricetext ui heading size-heading4x1">$0</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-1">
                    <div class="rownuestro container-xs">
                        <h2 class="nuestro_equipo ui heading size-heading4x">Nuestro equipo</h2>
                        <div class="userprofile">
                            <div class="userprofile-1">
                                <img src="../public/images/img_image_luis.png" alt="Userimage" class="userimage" />
                                <h3 class="username ui heading size-headingx">Luis Loor</h3>
                                <p class="userdescription ui text size-textmd">
                                    Estudiante de Ingeniería en Sistemas de la Información
                                </p>
                                <div class="rowlinkedinlogo">
                                    <img src="../public/images/img_logo_linkedin.svg" alt="Linkedinlogo" class="logotwitter _one" />
                                    <img src="../public/images/img_logo_twitter.svg" alt="Twitterlogo" class="logotwitter_one" />
                                    <img src="../public/images/img_logo_instagram.svg" alt="Instagramlogo" class="logotwitter _one" />
                                </div>
                            </div>
                            <div class="userprofile-1">
                                <img src="../public/images/img_image_david.png" alt="Userimage" class="userimage" />
                                <h4 class="username ui heading size-headingxl">David Yascaribay</h4>
                                <p class="userdescription ui text size-textmd">
                                    Estudiante de Ingeniería en Sistemas de la Información
                                </p>
                                <div class="rowlinkedinlogo">
                                    <img src="../public/images/img_logo_linkedin.svg" alt="Linkedinlogo" class="logotwitter_one" />
                                    <img src="../public/images/img_logo_twitter.svg" alt="Twitterlogo" class="logotwitter_one" />
                                    <img src="../public/images/img_logo_instagram.svg" alt="Instagramlogo" class="logotwitter_one" />
                                </div>
                            </div>
                            <div class="userprofile-1">
                                <img src="../public/images/img_image_jefferson.png" alt="Userimage" class="userimage" />
                                <h5 class="username ui heading size-headingx">Jefferson Marcalla</h5>
                                <p class="userdescription ui text size-textmd">
                                    Estudiante de Ingeniería en Sistemas de la Información
                                </p>
                                <div class="rowlinkedinlogo">
                                    <img src="../public/images/img_logo_linkedin.svg" alt="Linkedinlogo" class="logotwitter _one" />
                                    <img src="../public/images/img_logo_twitter.svg" alt="Twitterlogo" class="logotwitter _one" />
                                    <img src="../public/images/img_logo_instagram.svg" alt="Instagramlogo" class="logotwitter_one" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="containerbarra-1">
            <div class="row five container-xs">
                <div class="row four">
                    <img src="../public/images/img_image_1.svg" />
                    <div class="columnfooterlog">
                        <div class="rowfooterlogo">
                            <img src="../public/images/img_footer_logo.png" alt="Footerlogo" class="footerlogo_one" />
                            <div class="rowlogofacebook">
                                <img src="../public/images/img_logo_facebook.svg" alt="Logofacebook" class="logotwitter _one" />
                                <img src="../public/images/img_logo_twitter_white_a700.svg" alt="Logotwitter" class="logotwitter_one" />
                            </div>
                        </div>
                        <div class="rowgestor">
                            <div class="columngestor">
                                <h6 class="inicio ui heading size-headings">Gestor financiero inteligente</h6>
                                <p class="gestionesus ui text size-texts">
                                    Gestione sus gastos de la manera más eficiente, una solución perfecta para asegurar su economía.
                                </p>
                            </div>
                            <div class="columnhome">
                                <ul class="rowhome">
                                    <li>
                                        <a href="Home" target="_blank" rel="noreferrer">
                                            <p class="inicio ui text size-textmd">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Características" target="_blank" rel="noreferrer">
                                            <p class="inicio ui text size-textmd">Características</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Premium" target="_blank" rel="noreferrer">
                                            <p class="inicio ui text size-textmd">Premium</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Privacidad" target="_blank" rel="noreferrer">
                                            <p class="inicio ui text size-textmd">Privacidad</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Términos" target="_blank" rel="noreferrer">
                                            <p class="inicio ui text size-textmd">Términos</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="rowmailone one">
                                    <img src="../public/images/img_mail_1.svg" alt="Mailone" class="mailone_one" />
                                    <p class="email ui text size-textmd">finanzapp@gmail.com</p>
                                    <img src="../public/images/img_phone_1.svg" alt="Phoneone" class="phoneone_one" />
                                    <p class="class-593999999999 ui text size-textmd">(+593) 999999999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
