<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="icon" href="../static/images/img_image_1.png" type="image/svg+xml"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/Recomendaciones.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Obtener los datos del contexto de Flask
        var data = {{ get_dist_gastos | tojson }};
        // Separar los datos en arrays para Chart.js
        var nombres = data.map(item => item.Nombre);
        var valores = data.map(item => item.Valor);
        var label_final = nombres+valores;
        // Configurar el gráfico de pastel
        window.onload = function() {
            var ctx = document.getElementById('graficoPastel').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: nombres,
                    datasets: [{
                        label: 'Tipo de registro',
                        data: valores,
                        backgroundColor: [
                            '#48BF84','#70C29E','#2C4544','#26413C','#45705C',
                            '#44B07B','#40A072','#52AC81','#2F322F','#3E785E',
                            '#42605C','#3E505B','#378060','#66AE8E','#354B50',
                            '#202F2B','#5B997D','#1A1D1A'
                        ],
                    }]
                },
                options: {
                    cutout: '70%',
                    responsive: false,
                    maintainAspectRatio: false, // Mantén el aspecto del gráfico
                    plugins: {
                        legend: {
                            display: false,
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
    {% set colores = [
        '#48BF84', '#70C29E', '#2C4544', '#26413C', '#45705C',
        '#44B07B', '#40A072', '#52AC81', '#2F322F', '#3E785E',
        '#42605C', '#3E505B', '#378060', '#66AE8E', '#354B50',
        '#202F2B', '#5B997D', '#1A1D1A'
    ] %}
    <div class="recomendaciones-2">
        <header class="containerbarra-3">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_image_1.png" alt="Imagelogo" class="imagelogo_one">
                    <h2 class="headerlogo_one-1">FINANZAPP</h2>
                    <div class="row-2">
                        <div class="headermenu">
                            <a href="/app/observar_gastos">
                                <div class="menuitem">
                                    <img src="../static/images/img_layout_11_gray_700.svg" alt="Layouteleven" class="logotwitter_one1" />
                                    <p class="observareconom">Observar economía</p>
                                </div>
                            </a>
                            <a href="/app/crear_registro">
                                <div class="menuitem">
                                    <img src="../static/images/img_package.svg" alt="Package" class="logotwitter_one" />
                                    <p class="crearregistros">Crear registros</p>
                                </div>
                            </a>
                            <a href="/app/recomendaciones">
                                <div class="menuitem">
                                    <img src="../static/images/img_cart_green_400.svg" alt="Cart" class="logotwitter_one2" />
                                    <p class="recomendaciones">Recomendaciones</p>
                                </div>
                            </a>
                        </div>
                        <div class="user-profile">
                            <a href="#">
                                <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                            </a>
                            <div class="dropdown-menu">
                                <a href="/login">
                                    <button class="logout-button">
                                        <img src="../static/images/img_log_out.svg">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="column_three container-xs">
            <h1 class="dashboard">Recomendación</h1>
            <div class="newscreenbody-1">
                <div class="container-15">
                    <div class="columndistribuc">
                        <div class="container-16">
                            <p class="vista_general">Distribución de los gastos</p>
                            <div class="column-4">
                                <div class="stackpie_one">
                                    <div class="column_one-1">
                                        <p class="finanzapp1">Dinero utilizado</p>
                                        <h4 class="dinuti">${{get_dinero_utilizado}}</h4>
                                        
                                        <canvas class="canvas" id="graficoPastel"></canvas>
                                    </div>
                                </div>
                                <div>            
                                    <div class="columnview">
                                        {% for fila in get_dist_gastos %}
                                            <div class="row_seven">
                                                <div class="rowview_eight">
                                                    <div class="view_nine" style="background-color: {{ colores[loop.index0] }}"></div>
                                                    <p class="dinerorestante">{{fila['Nombre']}}</p>
                                                </div>
                                                <h3 class="predis">${{fila['Valor']}}</h3>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column_one-2">
                        <div class="rowultimo_mes">
                            <div class="columnultimo">
                                <label class="vista_general1">{{ get_mes }} de {{ get_año }}</label>
                                <form action="/app/recomendaciones" method="POST">
                                    <select class="dropdown-1" name="dropdown" id="dropdown-tipo-gasto">
                                        {% for fila in get_meses %}
                                            <option value="{{ fila.mes_num }}-{{ fila.año_num }}">{{ fila['mes_palabra'] }} {{ fila['año_num'] }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="agregar" type="submit">Actualizar</button>
                                </form>
                                <div class="rowcurrencydoll">
                                    <img src="../static/images/img_currency_dollar.svg" alt="Currencydollar" class="archivecheckone" />
                                    <h5 class="pricetext">Gasto más significativo</h5>
                                </div>
                                <div class="containergasto">
                                    <div class="columnnombre-1">
                                        <div class="rownombre-1">
                                            <p class="finanzapp2">Nombre</p>
                                            <p class="finanzapp3">{{ get_gasto_fuerte['Nombre'] }}</p>
                                            <div class="rowpizza">
                                                <div class="rowpreciopromed">
                                                    <p class="preciprom">Precio promedio</p>
                                                    <p class="finanzapp4">${{get_gasto_fuerte['Promedio']}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rownombre-1">
                                            <p class="finanzapp5">Tipo</p>
                                            <div class="rowpizza">
                                                <p class="finanzapp6">{{get_gasto_fuerte['Tipo_gasto']}}</p>
                                                <div class="rowporcentaje">
                                                    <p class="finanzapp7">Porcentaje</p>
                                                    <p class="finanzapp8">%{{get_gasto_fuerte['Porcentaje']}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rowvecesreincid">
                                            <p class="finanzapp9">Veces reincido</p>
                                            <p class="finanzapp10">{{get_gasto_fuerte['Cantidad']}}</p>
                                        </div>
                                    </div>
                                    <div class="containercant">
                                        <div class="containercant-1">
                                            <p class="contgas">Gastos</p>
                                            <h5 class="fortysix">{{get_cant_gastos}}</h5>
                                        </div>
                                        <div class="containercant-1">
                                            <p class="contgas">Ingresos</p>
                                            <h5 class="fortysix">{{get_cant_ingresos}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rowarrowupright">
                    <div class="columncinfoone">
                        <div class="rowcinfoone_one">
                            <img src="../static/images/img_c_info_1.svg" alt="Cinfoone" class="archivecheckone" />
                            <h5 class="dell">Detalle del mes</h5>
                        </div>
                        <div class="tablemes">
                            <div class="columnarrowupri">
                                <img src="../static/images/img_arrow_up_right.svg" alt="Arrowupright" class="logotwitter_one3" />
                                <div class="columntitle1">
                                    <p class="res">Resumen de {{ get_mes }} de {{ get_año }}</p>
                                    <p class="rescon">{{get_cant_gastos}} gastos<br />{{get_cant_ingresos}} ingresos</p>
                                </div>
                            </div>
                            <div class="row-3">
                                <a href="/app/observar_gastos_mes?mes={{ get_mes }}&año={{ get_año }}">
                                    <button class="btnvisu">
                                        Visualizar
                                    </button>
                                </a>
                            </div>
                            <div class="rowslider one">
                                <img src="../static/images/img_slider.svg" alt="Slider" class="slider_one" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columnarchivech">
                    <div class="rowarchivecheck">
                        <img src="../static/images/img_archive_check_1.svg" alt="Archivecheckone" class="archivecheckone" />
                        <h5 class="reco">Recomendación</h5>
                        <form action="/app/obtener_recomendacion?mes={{ get_mes }}&año={{ get_año }}" method="post">
                            <button class="generar" type="submit" name="action" value="generar">Generar</button>
                        </form>
                    </div>
                    <label class="description-4">
                        {{get_recomendacion}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
