<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img 
        alt="Logo" 
        src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none" 
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/RegistrarGastos.css" />
    <script>
        // Función para desactivar/activar el select según el valor del radio button seleccionado
        function toggleDropdown() {
            var gastoRadio = document.getElementById('radio-gasto');
            var ingresoRadio = document.getElementById('radio-ingreso');
            var dropdown = document.getElementById('dropdown-tipo-gasto');

            if (ingresoRadio.checked) {
                dropdown.disabled = true;
            } else if (gastoRadio.checked) {
                dropdown.disabled = false;
            }
        }

        // Agregar event listeners a los radio buttons
        window.onload = function() {
            document.getElementById('radio-gasto').addEventListener('change', toggleDropdown);
            document.getElementById('radio-ingreso').addEventListener('change', toggleDropdown);
        };
    </script>
</head>
<body>
    <div class="registrargastos">
        <header class="containerbarra-3">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                    <h2 class="headerlogo_one-1">FINANZAPP</h2>
                    <div class="row-2">
                        <div class="headermenu">
                            <a href="/app/observar_gastos">
                                <div class="menuitem">
                                    <img src="../static/images/img_layout_11_gray_700.svg" alt="Layouteleven" class="logotwitter_one1" />
                                    <p class="observareconom">Observar economía</p>
                                </div>
                            </a>
                            <a href="/app/crear_registro">
                                <div class="menuitem">
                                    <img src="../static/images/img_package_green_400.svg" alt="Package" class="logotwitter_one" />
                                    <p class="crearregistros">Crear registros</p>
                                </div>
                            </a>
                            <a href="/app/recomendaciones">
                                <div class="menuitem">
                                    <img src="../static/images/img_cart.svg" alt="Cart" class="logotwitter_one2" />
                                    <p class="recomendaciones">Recomendaciones</p>
                                </div>
                            </a>
                        </div>
                        <div class="user-profile">
                            <a href="#">
                                <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                            </a>
                            <div class="dropdown-menu">
                                <a href="/login">
                                    <button class="logout-button">
                                        <img src="../static/images/img_log_out.svg">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="rowcrear">
            <div class="columncrear">
                <h1 class="dashboard">Crear registro</h1>
                <div class="rownombre">
                    <div class="columnnombre">
                        <div class="container_13">
                            <form action="/app/agregar_registro" method="post">
                                <label class="nombre ui input size-xs fill round">
                                    <input class="inputname" name="nombre" placeholder="Nombre..." type="text"/>
                                </label>
                                <label class="valor ui input size-xs fill round">
                                    <input class="inputval" name="valor" placeholder="Valor..."type="number" step="any" />
                                </label>
                                <label class="valor ui input size-xs fill round">
                                    <input class="inputcal" name="fecha" placeholder="dd/mm/aaaa..." type="date" />
                                </label>
                                <div class="group51">
                                    <label class="group51-1 ui radio">
                                        <input type="radio" class="ui radio size-sm primary" value="Gasto" name="group51" id="radio-gasto" checked/>
                                        <span class="gra"> Gasto</span>
                                    </label>
                                    <label class="group51-2 ui radio">
                                        <input type="radio" class="ui radio size-sm primary" value="Ingreso" name="group51" id="radio-ingreso" />
                                        <span class="gra"> Ingreso</span>
                                    </label>
                                </div>
                                <select class="dropdown-1" name="dropdown" id="dropdown-tipo-gasto">
                                    {% for id, opcion in get_opciones %}
                                        <option  value="{{ id }}">{{ opcion }}</option>
                                    {% endfor %}
                                </select>
                                <button class="agregar" type="submit">Agregar</button>
                            </form>
                            <form action="/app/guardar_registros" method="post">
                                <button class="agregar1" type="submit" name="action" value="guardar">Guardar</button>
                            </form>
                            <form>
                                <button class="agregar2" type="submit" name="action" value="guardar">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    <div class="row ten">
                        <div class="container-14">
                            <table class="table" cellpadding="0" cellspacing="0">
                                <thead class="cabecera">
                                    <tr>
                                        <th width="96px">
                                            <div class="rowregistro">
                                                <h3 class="registro"># Registro</h3>
                                            </div>
                                        </th>
                                        <th width="314px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Nombre</h3>
                                            </div>
                                        </th>
                                        <th width="102px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Valor</h3>
                                            </div>
                                        </th>
                                        <th width="110px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Fecha</h3>
                                            </div>
                                        </th>
                                        <th width="138px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Tipo de registro</h3>
                                            </div>
                                        </th>
                                        <th width="186px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Tipo de gasto</h3>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registro in get_registros_temporales %}
                                    <tr>
                                        <td>
                                            <div class="rowframe">
                                                <p class="registro">{{ loop.index }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="rownombre_one">
                                                <p class="registro">{{ registro['Nombre'] }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="rownombre_one">
                                                <p class="registro">${{ registro['Valor'] }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="rownombre_one">
                                                <p class="registro">{{ registro['Fecha'] }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="rownombre_one">
                                                <p class="registro">{{ registro['Tipo_Registro'] }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="rownombre_one">
                                                <p class="registro">{{ registro['Tipo_Gasto'] }}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>                                
                                    
                            