<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="icon" href="../static/images/img_image_1.png" type="image/svg+xml"/>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ResumenGeneral.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Obtener los datos desde el contexto de Flask
        var distGastos = {{get_dist_gastos | tojson}};
        var dineroRestante = {{get_dinero_restante}};
        var dineroUtilizado = {{get_dinero_utilizado}};
        
        // Configurar el gráfico de pastel
        window.onload = function() {
            var ctx = document.getElementById('graficoPastel').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{ //Datos para el gráfico
                        data: [dineroRestante, dineroUtilizado],
                        backgroundColor: ['#48BF84', '#26413C'],
                    }]
                },
                options: {
                    cutout: '70%',
                    plugins: {
                        legend: {
                            position: 'bottom',
                        },
                    }
                }
            });

            // Configurar el gráfico de barras
            var ctxBar = document.getElementById('graficoBarras').getContext('2d');
            var nombres = distGastos.map(fila => fila.Nombre);
            var valores = distGastos.map(fila => fila.Valor);
            var myBarChart = new Chart(ctxBar, {
                type: 'bar',
                data: {
                    labels: nombres,
                    datasets: [{
                        label: 'Tipo de registro',
                        data: valores,
                        backgroundColor: [
                            '#48BF84','#70C29E','#2C4544','#26413C','#45705C',
                            '#44B07B','#40A072','#52AC81','#2F322F','#3E785E',
                            '#42605C','#3E505B','#378060','#66AE8E','#354B50',
                            '#202F2B','#5B997D','#1A1D1A'
                        ],
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false
                        },
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                    }
                }
            });
        }

    </script>
</head>
<body>
    {% set colores = [
        '#48BF84', '#70C29E', '#2C4544', '#26413C', '#45705C',
        '#44B07B', '#40A072', '#52AC81', '#2F322F', '#3E785E',
        '#42605C', '#3E505B', '#378060', '#66AE8E', '#354B50',
        '#202F2B', '#5B997D', '#1A1D1A'
    ] %}
    <div class="registrargastos">
        <header class="containerbarra-3">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_image_1.png" alt="Imagelogo" class="imagelogo_one">
                    <h2 class="headerlogo_one-1">FINANZAPP</h2>
                    <div class="row-2">
                        <div class="headermenu">
                            <a href="/app/observar_gastos">
                                <div class="menuitem">
                                    <img src="../static/images/img_layout_11.svg" alt="Layouteleven" class="logotwitter_one1" />
                                    <p class="observareconom">Observar economía</p>
                                </div>
                            </a>
                            <a href="/app/crear_registro">
                                <div class="menuitem">
                                    <img src="../static/images/img_package.svg" alt="Package" class="logotwitter_one" />
                                    <p class="crearregistros">Crear registros</p>
                                </div>
                            </a>
                            <a href="/app/recomendaciones">
                                <div class="menuitem">
                                    <img src="../static/images/img_cart.svg" alt="Cart" class="logotwitter_one2" />
                                    <p class="recomendaciones">Recomendaciones</p>
                                </div>
                            </a>
                        </div>
                        <div class="user-profile">
                            <a href="#">
                                <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                            </a>
                            <div class="dropdown-menu">
                                <a href="/login">
                                    <button class="logout-button">
                                        <img src="../static/images/img_log_out.svg">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="column two-1">
            <div class="columnaceptotr">
                <div class="columndashboard-1 container-xs">
                    <div class="rowdashboard">
                        <h1 class="dashboard">Dashboard</h1>
                        <a href="/app/observar_gastos">
                            <button class="regresar">
                                Regresar
                            </button>
                        </a>
                    </div>
                    <div class="stackresumengen">
                        <p class="vista_general ui text size-textxl">Resumen general</p>
                        <div class="container-g">
                            <div class="container-10">
                                <p class="finanzapp">Dinero restante</p>
                                <h2 class="pricetext">${{get_dinero_restante}}</h2>
                            </div>
                            <div class="container-11">
                                <p class="finanzapp">Dinero utilizado</p>
                                <h2 class="pricetext3">${{get_dinero_utilizado}}</h2>
                            </div>
                        </div>
                        <div class="rowresumen-2">
                            <p class="vistageneral ui text size-textxl">Actividad</p>
                        </div>
                        <div class="container-7">
                            <div class="container-12">
                                <p class="finanzapp">Gastos</p>
                                <h2 class="pricetext2">{{get_cant_gastos}}</h2>
                            </div>
                            <div class="container-13">
                                <p class="finanzapp">Ingresos</p>
                                <h2 class="pricetext1">{{get_cant_ingresos}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xs">
                <div class="row_twentyeight">
                    <div class="rowresumen">
                        <div class="resumenmes">
                            <p class="resumen_mensual ui text size-textxl">Resumen general</p>
                            <p class="estossontodostu ui text size-texts">Estos son todos tus registros almacenados</p>
                            <table class="table" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr class="cabecera">
                                        <th width="94px">
                                            <div class="rownombre_one">
                                                <h2 class="registro"># Registro</h2>
                                            </div>
                                        </th>
                                        <th width="194px">
                                            <div class="rownombre_one">
                                                <h3 class="registro">Nombre</h3>
                                            </div>
                                        </th>
                                        <th width="92px">
                                            <div class="rownombre_one">
                                                <h4 class="registro">Valor</h4>
                                            </div>
                                        </th>
                                        <th width="112px">
                                            <div class="rowregistro">
                                                <h5 class="registro">Fecha</h5>
                                            </div>
                                        </th>
                                        <th width="126px">
                                            <div class="rowregistro">
                                                <h6 class="registro">Tipo de registro</h6>
                                            </div>
                                        </th>
                                        <th width="160px">
                                            <div class="rownombre_one">
                                                <p class="registro">Tipo de gasto</p>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registro in registros %}
                                        <tr>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ loop.index }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Nombre'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">${{ registro['Valor'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rowframe">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Fecha'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rowframe">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Tipo_Registro'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Tipo_Gasto'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    <div class="columnvista">
                        <div class="container-16">
                            <p class="vista_general1">Vista general</p>
                            <div class="columnpie_one-1">
                                <div class="stackpie_one">
                                    <div class="column_one-1">
                                        <p class="finanzapp1">Dinero utilizado</p>
                                        <h4 class="dinuti">${{get_dinero_utilizado}}</h4>
                                        
                                        <canvas class="canvas" id="graficoPastel"></canvas>
                                    </div>
                                </div>
                                <div>
                                    <div class="columnview_five">
                                        <div class="row_seven">
                                            <div class="ronview_eight">
                                                <div class="view_eight"></div>
                                                <p class="dinerorestante">Dinero restante</p>
                                            </div>
                                            <h3 class="dinrest">${{get_dinero_restante}}</h3>
                                        </div>
                                        <div class="row_seven">
                                            <div class="ronview_eight1">
                                                <div class="view_nine"></div>
                                                <p class="dinerorestante">Dinero utilizado</p>
                                            </div>
                                            <h3 class="dinrest1">${{get_dinero_utilizado}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="containervista-2">
                            <div class="columnvista-1">
                                <p class="vista_general-2">Vista general</p>
                                <div class="columnbar">
                                    <div class="rowdinero_one">
                                        <canvas class="barras" id="graficoBarras"></canvas>
                                    </div>
                                    {% for fila in get_dist_gastos %}
                                        <div class="row_seven">
                                            <div class="rowview_eight">
                                                <div class="view_eight6" style="background-color: {{ colores[loop.index0] }}"></div>
                                                <p class="dinerorestante">{{fila['Nombre']}}</p>
                                            </div>
                                            <h3 class="predis">${{fila['Valor']}}</h3>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
        