<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Finanzapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <img 
        alt="Logo" 
        src="https://appproject.dhiwise.com/dhiwise-logo-png?c=&v=" 
        style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/components.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ResumenMensual.css">
</head>
<body>
    <div class="registrargastos">
        <header class="containerbarra-3">
            <div class="row_one-2 container-xs">
                <div class="rowheaderlogo-1">
                    <img src="../static/images/img_image_1.svg" alt="Imagelogo" class="imagelogo_one">
                    <h2 class="headerlogo_one-1">FINANZAPP</h2>
                    <div class="row-2">
                        <div class="headermenu">
                            <a href="/app/observar_gastos">
                                <div class="menuitem">
                                    <img src="../static/images/img_layout_11.svg" alt="Layouteleven" class="logotwitter_one1" />
                                    <p class="observareconom">Observar economía</p>
                                </div>
                            </a>
                            <a href="/app/crear_registro">
                                <div class="menuitem">
                                    <img src="../static/images/img_package.svg" alt="Package" class="logotwitter_one" />
                                    <p class="crearregistros">Crear registros</p>
                                </div>
                            </a>
                            <a href="/app/recomendaciones">
                                <div class="menuitem">
                                    <img src="../static/images/img_cart.svg" alt="Cart" class="logotwitter_one2" />
                                    <p class="recomendaciones">Recomendaciones</p>
                                </div>
                            </a>
                        </div>
                        <div class="user-profile">
                            <a href="#">
                                <img src="../static/images/img_rectangle.png" alt="Image" class="image-3" />
                            </a>
                            <div class="dropdown-menu">
                                <a href="/login">
                                    <button class="logout-button">
                                        <img src="../static/images/img_log_out.svg">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="column two-1">
            <div class="columnaceptotr">
                <div class="columndashboard-1 container-xs">
                    <div class="rowdashboard">
                        <h1 class="dashboard-1 ui heading size-heading2x1">Dashboard</h1>
                        <a href="/app/observar_gastos">
                            <button class="regresar ui button size-sm outline round undefined undefined undefined undefined_border">
                                Regresar
                            </button>
                        </a>
                    </div>
                    <div class="stackresumengen">
                        <p class="vista_general ui text size-textxl">Resumen general - {{mes}} de {{año}}</p>
                        <div class="container-g">
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Dinero restante</p>
                                <h2 class="pricetext ui heading size-heading2x1">${{get_dinero_restante}}</h2>
                            </div>
                            <div class="container-10">
                                <p class="finanzapp ui text size-textmd">Dinero utilizado</p>
                                <h2 class="pricetext ui heading size-heading2x1">${{get_dinero_utilizado}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xs">
                <div class="row_twentyeight">
                    <div class="rowresumen">
                        <div class="resumenmes">
                            <p class="resumen_mensual ui text size-textxl">Resumen - {{mes}} de {{año}}</p>
                            <p class="estossontodostu ui text size-texts">Estos son todos tus registros de este mes</p>
                            <table class="tableregistros ui table" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th width="94px">
                                            <div class="rownombre_one">
                                                <h2 class="registro-1 ui heading size-headingxs"># Registro</h2>
                                            </div>
                                        </th>
                                        <th width="194px">
                                            <div class="rownombre_one">
                                                <h3 class="nombre-3 ui heading size-headingxs">Nombre</h3>
                                            </div>
                                        </th>
                                        <th width="92px">
                                            <div class="rownombre_one">
                                                <h4 class="valor-1 ui heading size-headingxs">Valor</h4>
                                            </div>
                                        </th>
                                        <th width="112px">
                                            <div class="rowregistro">
                                                <h5 class="nombre-3 ui heading size-headingxs">Fecha</h5>
                                            </div>
                                        </th>
                                        <th width="126px">
                                            <div class="rowregistro">
                                                <h6 class="registro-1 ui heading size-headingxs">Tipo de registro</h6>
                                            </div>
                                        </th>
                                        <th width="160px">
                                            <div class="rownombre_one">
                                                <p class="nombre-3 ui heading size-headingxs">Tipo de gasto</p>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registro in registros %}
                                        <tr>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ loop.index }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Nombre'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">${{ registro['Valor'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rowframe">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Fecha'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rowframe">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Tipo_Registro'] }}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rownombre_one">
                                                    <p class="frame-1 ui text size-texts">{{ registro['Tipo_Gasto'] }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button class="ver_ms ui button size-sm fill round">Ver más</button>
                        </div>
                    </div>
                    <div class="columnvista">
                        <div class="container-16">
                            <p class="vista_general ui text size-textxl">Vista general</p>
                            <div class="columnpie_one-1">
                                <div class="stackpie_one-1">
                                    <div class="column_one-3">
                                        <p class="finanzapp ui text size-textmd">Dinero utilizado</p>
                                        <h1 class="ui heading size-heading3x1">${{get_dinero_utilizado}}</h1>
                                    </div>
                                    <div data-progress="47" style="--progress: 47%" class="pie_one"></div>
                                </div>
                                <div>
                                    <div class="columnview_five">
                                        <div class="row_seven">
                                            <div class="rowview_eight">
                                                <div class="view_eight"></div>
                                                <p class="dinerorestante ui text size-texts">Dinero restante</p>
                                            </div>
                                            <h6 class="ui heading size-headings">${{get_dinero_utilizado}}</h6>
                                        </div>
                                        <div class="row_seven">
                                            <div class="rowview_eight">
                                                <div class="view_nine"></div>
                                                <p class="dinerorestante ui text size-texts">Dinero utilizado</p>
                                            </div>
                                            <h6 class="ui heading size-headings">${{get_dinero_utilizado}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="containervista-2">
                            <div class="columnvista-1">
                                <p class="vista_general-2 ui text size-textxl">Vista general</p>
                                <div class="columnbar">
                                    <div class="row_twentyfive">
                                        <div class="rowview">
                                            <div class="view"></div>
                                            <p class="ui text size-texts">Label 1</p>
                                        </div>
                                    </div>
                                    <div class="rowdinero_one">
                                        <div class="columnview one">
                                            <div class="rowview_one-3">
                                                <div class="view one-3"></div>
                                                <div class="view_two"></div>
                                                <div class="view_three-1"></div>
                                                <div class="view_four"></div>
                                                <div class="view_five-2"></div>
                                                <div class="view_six"></div>
                                                <div class="view_seven"></div>
                                            </div>
                                            <div class="vector _one"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row twentysix-1">
                                    <div class="rowview_eight">
                                        <div class="view_eight"></div>
                                        <p class="dinerorestante ui text size-texts">Dinero restante</p>
                                    </div>
                                    <h6 class="ui heading size-headings">${{get_dinero_restante}}</h6>
                                </div>
                                <div class="row_twentyseven-1">
                                    <div class="rowview_eight">
                                        <div class="view _nine"></div>
                                        <p class="dinerorestante ui text size-texts">Dinero utilizado</p>
                                    </div>
                                    <h6 class="ui heading size-headings">${{get_dinero_utilizado}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
        